/* @font-face {
    font-family: CALIST;
    src: url(../fonts/CALIST.TTF);
} */

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-size: 100%;
    height: 100%;
    /* background-image: linear-gradient(to right top, #4323bb, #771ebf, #a017c2, #c411c2, #e511c1); */
}

.loginBlock {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 60%;
    height: 60%;
    background: white;
    border-radius: 10px;
}

